{% extends "base.html" %} {% block content %}



<div class="container mx-auto ">

  <!-- hero image -->
  <div class="h-full mb-10">
    <picture>
      <source
        srcset=" {{ url_for('static',
      filename='./images/hero-user-recipe-lg.jpg') }}"
        media="(min-width: 640px)"
      />
      <img
        class="lg:rounded-lg"
        src="{{ url_for('static', filename='./images/hero-user-recipe-sm.jpg') }}"
        alt=""
      />
    </picture>
  </div>

  <!-- main content -->
  <main>
    <h1 class="pb-5 pl-4 text-3xl text-center text-gray-500">
      Edit your recipes
    </h1>

    <!-- recipe container -->
    <div class="max-w-screen-lg mx-auto">
      <div class="w-full text-gray-900">

        <!-- recipe form -->
        <form
          method="POST"
          action="{{ url_for('edit_recipe', recipe_id=recipe._id)}}"
          class="px-6 pt-4 bg-white rounded-md"
        >

          <!-- recipe name input -->
          <label for="recipe_name">
            <h2 class="text-base text-primary-teal">
              Recipe name *
            </h2>
          </label>
          <input
            type="text"
            id="recipe_name"
            name="recipe_name"
            value="{{ recipe.recipe_name }}"
            class="w-full py-2 mb-3 border-b-2 border-gray-200 border-solid focus:outline-none focus:border-blue-500"
            maxlength="75"
            pattern="^[a-zA-Z0-9\s,_.()]{3,}$"
            required
          >

          <!-- recipe description input -->
          <label for="recipe_description">
            <h2 class="text-base text-primary-teal">
              Recipe description
            </h2>
          </label>
          <textarea
            id="recipe_description"
            name="recipe_description"
            class="w-full p-2 my-4 bg-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-500"
            cols="100"
            rows="5"
            minlength="5"
            maxlength="200"
          >{{ recipe.recipe_description }}
          </textarea>

          <!-- recipe ingredients input-->
          <label for="recipe_ingredients">
            <h2 class="text-base text-primary-teal">
              Recipe Ingredients *
            </h2>
          </label>
          <textarea
            id="recipe_ingredients"
            name="recipe_ingredients"
            class="w-full p-2 my-4 bg-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-500"
            cols="100"
            rows="5"
            minlength="5"
            maxlength="500"
            required>{{ recipe.recipe_ingredients }}
          </textarea>

          <!-- recipe cooking instructions input -->
          <label for="recipe_cooking_instructions">
            <h2 class="text-base text-primary-teal">
              Recipe cooking instructions *</h2>
          </label>
          <textarea
            id="recipe_cooking_instructions"
            name="recipe_cooking_instructions"
            class="w-full p-2 my-4 bg-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-500"
            cols="100"
            rows="5"
            minlength="5"
            maxlength="500"
            required>{{ recipe.recipe_cooking_instructions }}
          </textarea>

          <!-- input for form -->
          <div
            class="grid grid-flow-row gap-3 py-4 text-white md:grid-flow-col">
            <!-- save button -->
            <button
              type="submit"
              class="py-2 text-center rounded-md shadow-lg bg-primary-teal"
            >
              Save
            </button>

            <!-- cancel button -->
            <a href="{{ url_for('my_recipes') }}">
              <button
                type="button"
                class="w-full py-2 text-center bg-red-400 rounded-md shadow-lg"
              >
                Cancel
              </button>
            </a>
          </div>
        </form>
      </div>
    </div>
  </main>

  {% endblock %}