{% extends "base.html" %} {% block content %}

<div class="container mx-auto">
  <div>
    <picture>
      <source
        srcset=" {{ url_for('static',
    filename='./images/hero-recipe-page-lg.jpg') }}"
        media="(min-width: 640px)"
      />

      <img
        class="md:rounded-lg"
        src="{{ url_for('static', filename='./images/hero-recipe-page-sm.jpg') }}"
        alt=""
      />
    </picture>
  </div>

  <main class="px-3">
    <!-- recipe menu container -->
    <div
      class="grid grid-flow-col pb-5 mt-8 overflow-x-scroll overflow-y-hidden sm:overflow-x-hidden place-items-center"
    >
      <!-- recipe menu heading -->
      <div class="place-self-start mr-7 md:mr-4 min-w-max">
        <h1 class="text-gray-500 md:text-xl">
          Recipes chosen for you
        </h1>
      </div>
      <!--  recipe menu  -->
      <div class="text-gray-600">
        <!--  recipe menu  list-->
        <ul
          id="users-recipe-menu"
          class="grid grid-flow-col gap-6"
        >
          <li>
            <button
              id="button-menu-breakfast"
              class="menu-button-active"
            >
              <h2>Breakfast</h2>
            </button>
          </li>
          <li>
            <button id="button-menu-lunch">
              <h2>Lunch</h2>
            </button>
          </li>
          <li>
            <button id="button-menu-snacks">
              <h2>Snacks</h2>
            </button>
          </li>
        </ul>
      </div>
    </div>

    <!-- accordion brekfast container -->
    <div
      id="breakfast-container"
      class="px-3 py-10 mt-5 text-white rounded-md shadow-xl sm:px-5 bg-primary-teal md:p-5 md:text-lg"
    >
      <!-- breakfast recipe list -->
      <ul>
        {% for breakfast_recipe in breakfast_recipe %}
        <li
          id="accordion-recipe-list"
          class="mb-3 text-gray-600 rounded-md md:p-4 md:hover:bg-gray-100 md:text-lg"
        >
          <!-- accordion heading container -->
          <div
            id="accordion-recipe-heading"
            class="flex items-center justify-between"
          >
            <!-- accordion recipe heading -->
            <h1 class="font-light">
              {{ breakfast_recipe.name }}
            </h1>
            <!-- accordion button -->
            <button
              id="button-accordion-dropdown"
              class="transition duration-500 ease-in-out"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-8 h-auto"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>
          <!-- accordion inner container -->
          <div class="grid ">
            <div
              id="recipe-data"
              class="grid h-0 gap-6 overflow-hidden text-white bg-gray-900 rounded-md shadow-md md:grid-cols-2 "
            >
              <!-- recipe image -->
              <div class="h-96">
                <img
                  class="object-contain w-auto h-full rounded-md"
                  src="{{ breakfast_recipe.image_source }}"
                  alt=""
                />
              </div>

              <!-- recipe ingredients -->
              <div>
                <h2
                  class="inline-block pb-2 mb-3 text-blue-500 border-b-2 border-blue-500"
                >
                  Ingredients
                </h2>
                <p class="text-sm leading-6">
                  {{ breakfast_recipe.ingredients}}
                </p>
              </div>

              <!-- recipe instructions -->
              <div class="md:col-span-2">
                <h2
                  class="inline-block pb-2 mb-3 text-blue-500 border-b-2 border-blue-500"
                >
                  Instructions
                </h2>
                <p class="text-sm leading-6">{{ breakfast_recipe.instructions
                  }}
                </p>
              </div>
            </div>
          </div>
        </li>
        {% endfor%}
      </ul>
    </div>
    <!-- accordion lunch container -->
    <div
      id="lunch-container"
      class="hidden px-3 py-10 mt-5 text-white rounded-md shadow-xl sm:px-5 bg-primary-teal md:p-5 md:text-lg"
    >
      <!-- lunch recipe lsit -->
      <ul>
        {% for lunch_recipe in lunch_recipe %}
        <li
          id="accordion-recipe-list"
          class="mb-3 text-gray-600 rounded-md md:p-4 md:hover:bg-gray-100 md:text-lg"
        >
          <!-- accordion heading container -->
          <div
            id="accordion-recipe-heading"
            class="flex items-center justify-between"
          >
            <!-- accordion recipe heading -->
            <h1 class="font-light">{{ lunch_recipe.name }}</h1>
            <!-- accordion button -->
            <button
              id="button-accordion-dropdown"
              class="transition duration-500 ease-in-out"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-8 h-auto"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>

          <!-- accordion inner container -->
          <div class="grid ">
            <div
              id="recipe-data"
              class="grid h-0 gap-6 overflow-hidden text-white bg-gray-900 rounded-md shadow-md md:grid-cols-2 "
            >
              <!-- recipe image -->
              <div class="h-96">
                <img
                  class="object-contain w-auto h-full rounded-md"
                  src="{{ lunch_recipe.image_source }}"
                  alt=""
                />
              </div>
              <!-- recipe ingredients -->
              <div>
                <h2
                  class="inline-block pb-2 mb-3 text-blue-500 border-b-2 border-blue-500"
                >
                  Ingredients
                </h2>
                <p class="text-sm leading-6">{{ lunch_recipe.ingredients
                  }}
                </p>
              </div>
              <!-- recipe instructions -->
              <div class="md:col-span-2">
                <h2
                  class="inline-block pb-2 mb-3 text-blue-500 border-b-2 border-blue-500"
                >
                  Instructions
                </h2>
                <p class="text-sm leading-6">{{ lunch_recipe.instructions
                  }}
                </p>
              </div>

            </div>
          </div>
        </li>
        {% endfor%}
      </ul>
    </div>
    <!-- accordion snacks container -->
    <div
      id="snacks-container"
      class="hidden px-3 py-10 mt-5 text-white rounded-md shadow-xl sm:px-5 bg-primary-teal md:p-5 md:text-lg"
    >
      <!--  snacks recipe lsit -->
      <ul>
        {% for snacks_recipe in snacks_recipe %}
        <li
          id="accordion-recipe-list"
          class="mb-3 text-gray-600 rounded-md md:p-4 md:hover:bg-gray-100 md:text-lg"
        >
          <!-- accordion heading container -->
          <div
            id="accordion-recipe-heading"
            class="flex items-center justify-between"
          >
            <!-- accordion heading -->
            <h1 class="font-light">{{ snacks_recipe.name }}</h1>
            <!-- accordion button -->
            <button
              id="button-accordion-dropdown"
              class="transition duration-500 ease-in-out"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-8 h-auto"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>
          <!-- accordion inner container -->
          <div class="grid ">
            <div
              id="recipe-data"
              class="grid h-0 gap-6 overflow-hidden text-white bg-gray-900 rounded-md shadow-md md:grid-cols-2 "
            >
              <!-- recipe image -->
              <div class="h-96">
                <img
                  class="object-contain w-auto h-full rounded-md"
                  src="{{ snacks_recipe.image_source }}"
                  alt=""
                />
              </div>
              <!-- recipe ingredients -->
              <div>
                <h2
                  class="inline-block pb-2 mb-3 text-blue-500 border-b-2 border-blue-500"
                >
                  Ingredients
                </h2>
                <p class="text-sm leading-6">{{ snacks_recipe.ingredients
                  }}
                </p>
              </div>
              <!-- recipe instructions -->
              <div class=" md:col-span-2">
                <h2
                  class="inline-block pb-2 mb-3 text-blue-500 border-b-2 border-blue-500"
                >
                  Instructions
                </h2>
                <p class="text-sm leading-6">{{ snacks_recipe.instructions
                  }}
                </p>
              </div>
            </div>
          </div>
        </li>
        {% endfor%}
      </ul>
    </div>
  </main>
</div>


{% endblock %}